/* Sticky footer styles
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Sansita');

html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', bold, sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('pexels-photo-109019.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)), url('pexels-photo-109019.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
}

.name {
  font-family: 'Pacifico', cursive;

}

.form-section {
  margin-bottom: 25px;
}

h1 {
  font-family: 'Sansita', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}  

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
}

code {
  font-size: 80%;
}

​textarea { 
  vertical-align: top;
}​

.terms {
  width: 60%;
  height: 300px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 6px;
  overflow: auto;
  margin-bottom: 30px;
}

.unstyled {
  list-style: none;
}
