{% extends 'neuropy/layout.html' %}
{% block content %}
<div class="row">
        <div class='page-header'>
            <div class='btn-toolbar pull-right'>
                <div class='btn-group'>
                <a href="{% url 'add_todo' %}" class="btn">Add Todo</a>
                </div>
        </div>
        <h1>List of Todos</h1>
        </div>
</div>
<section>
    {% for todo in todos %}
        <article>
            <a href="{% url 'show_todo' todo.id %}"><h2 class="todo_list_header">{{todo.title}}</h2></a>
            <p class="todo_list_body">Date: {{todo.date}}</p>
            <p class="todo_list_body">Priority: {{todo.priority}}</p>
            <a href="{% url 'edit_todo' todo.id %}" class="btn">Edit</a>
        </article>
    {% endfor %}
</section>
{% endblock %}
