{% extends 'neuropy/layout.html' %}
{% block content %}

<div class="container">
  <h2>Schedule</h2>
  <div class="list-group">
    {% for event in events %}
    <a href="{{ event.htmlLink }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ event.summary }}</h4>
      <h5><strong>Start:</strong> {{ event.start.dateTime }}</h5>
      <h5><strong>End:</strong> {{ event.end.dateTime }}</h5>
      <strong>Description:</strong>
      <p class="list-group-item-text">{{ event.description }}</p>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
